*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
}

.header_nav{
    width: 100%;
}

.header_nav h1{
    color: white;
    font-family: 'Gangalin';
    font-size: 40px;
}

.header_nav nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}